#friends-display-link {
	text-align: center;
	display: block;
	background-color: #FAFAFA;
	font-size: 18px;
	padding: 20px 0;
	margin-bottom: 10px;
}

#friends-display-link i{
	color: rgba(0, 0, 0, .2);
}