.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #F9F9FA;
	padding: 20px 50px;
	border-top: 1px solid rgba(0,0,0,.1);
	box-sizing: border-box;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	color: #0E0E0E;
}

.nav__link {
	color: #2e363e;
	position: relative;
	cursor: pointer;
}

.nav__notification {

	position: absolute;
	left: 20px;
	bottom: 15px;
}

.nav__notification--small {
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: tomato;
	position: absolute;
	right: -3px;
}